* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: #f0f0f0;
    color: #3a3536;
}

html {
    overflow-x: hidden;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header,
footer {
    background-color: #4072da;
    color: #fff;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    font-style: italic;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav ul {
    display: flex;
    align-items: center;
    height: 100%;
}

nav li {
    list-style: none;
    display: inline;
    margin-right: 16px;
    font-size: 18px;
    font-weight: bold;
}

nav li a {
    color: #fff;
    text-decoration: none;
}

.container-flex {
    display: flex;
}

#sobre-a-loja img {
    max-width: 400px;
    margin-right: 24px;
}

section {
    padding: 40px 0;
}

section h2 {
    padding-bottom: 16px;
    margin-bottom: 32px;
    border-bottom: 2px solid #4072da;
    color: #4072da;
    font-style: italic;
}

.lista-produtos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 24px;
}

.lista-produtos li {
    list-style: none;
    flex: 0 0 24%;
    margin-bottom: 24px;
}

.lista-produtos li img {
    max-width: 100%;
}

.lista-produtos li p {
    margin-bottom: 16px;
}

.lista-produtos li h3 {
    margin: 16px 0;
}

button {
    display: block;
    width: 100%;
    padding: 8px 0;
    border: none;
    background-color: #4072da;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
    border-radius: 3px;
}

.price {
    margin: 16px 0;
}

footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
}

footer p {
    margin: 0;
}

footer ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
}

footer li {
    list-style: none;
    margin-left: 16px;
}

footer li img {
    height: 32px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    header {
        padding-left: 50px;
        padding-right: 50px;
    }

    header .container {
        max-width: 100%;
    }

    .container {
        max-width: 90%;
        padding: 0 16px;
    }

    #sobre-a-loja .container-flex {
        flex-direction: column;
        align-items: center;
    }

    #sobre-a-loja img {
        max-width: 100%;
        margin-bottom: 16px;
    }

    #sobre-a-loja div {
        text-align: justify;
        width: 100%;
    }

    .lista-produtos {
        flex-wrap: wrap;
        padding: 0 16px;
    }

    .lista-produtos li {
        flex: 0 0 48%;
        margin-bottom: 24px;
    }
}

@media screen and (max-width: 767px) {
    header .container {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0px 0px;
        min-width: 100px;
    }

    header nav ul {
        flex-direction: column;
        align-items: flex-start;
    }

    header nav li {
        margin: 4px 0;
    }

    header h1 {
        font-size: 20px;
    }

    nav li a {
        font-size: 14px;
    }

    .container {
        max-width: 90%;
        padding: 0 16px;
    }

    #sobre-a-loja .container-flex {
        flex-direction: column;
        align-items: center;
    }

    #sobre-a-loja img {
        max-width: 100%;
        margin-bottom: 16px;
    }

    .lista-produtos {
        flex-direction: column;
    }

    .lista-produtos li {
        flex: 0 0 100%;
        margin-bottom: 16px;
    }

    section h2 {
        font-size: 20px;
    }

    button {
        font-size: 14px;
        padding: 10px;
    }

    footer .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 16px;
    }

    footer ul {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 8px;
        padding: 0;
    }

    footer li {
        margin: 0 8px;
    }

    footer p {
        margin-bottom: 8px;
    }

    footer li img {
        height: 32px;
    }
}
