* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header{
    background-color: #0056cc;
    padding: 16px 0;
    color: #fff;
    display: flex;
    border-bottom: 16px solid #3b1e82;
    justify-content: center;
    text-transform: uppercase;
    font-style: italic;
}

header button{
    margin-left: 16px;

}

form{
    background-color: #f0f4f7;
    padding: 24px 0;
    text-align: center;
    display: none;
}

form h2{
    margin-bottom: 16px;
}

input,
button{
    padding: 8px;
}

input{
    width: 300px;
}

button{
    background-color: #218838;
    border: none;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
}

#botao-cancelar{
    background-color: #dc3545;
}

ul {
    display: flex;
    flex-wrap: wrap;
}

ul li{
    max-width: 25%;
    list-style: none;
    position: relative;
    max-height: 280px;
    overflow-y: hidden;
    overflow-x: hidden;
}

.overlay-texto{
    padding: 16px;
    margin: 10px;
    background-color: #f7d6b5;
    bottom: 0px;
    left: 0;
    width: 100%;
    transition: all ease .3s;
    cursor: pointer;
   
}

/* Remove o sublinhado em todos os estados */
.overlay-texto a:link,
.overlay-texto a:visited,
.overlay-texto a:hover,
.overlay-texto a:active {
    text-decoration: none;
    color: #333333;
}

/* Estilo quando a classe 'overlay-texto-click' é adicionada */
.overlay-texto a.overlay-texto-click {
    text-decoration: line-through; /* Adiciona linha atravessada */
    color: gray; /* Cor cinza para indicar conclusão */
}
