// Cores
$primary-color: #182C61;
$secondary-color: #44bd32;
$secondary-hover: #4cd137;
$background-color: #f5f6fa;
$font-color: #fff;

// Outros
$container-max-width: 1024px;
$container-padding: 16px;
$border-radius: 16px;